extends question-detail.pug

append head

    link(rel="stylesheet" href="/stylesheets/answer-detail.css")



block content
    if answer
        div(class='main-container')
            div(class='left-container')
                div(class='topic-container')
                    table(class='topic-table')
                        thead(class='thead-dark')
                            tr
                                th(scope='col' class="topic-th") TOPICS
                        tbody(class="topic-row")
                            each topic in topics
                                tr(class="topic-row")
                                    td= ''
                                        a(type='submit' class='topic-link' role='button' href=`/topic/${topic.id}/questions`)= topic.name
            div(class='middle-container')
                div(class="content-container")
                    h5 Answer:
                        h3= answer.body
                            div(class='comment-btn')
                                a(class='btn' href=`/answer/${answer.id}/add` role='button') Comment
                                //if comments
                        div(class='comments')
                            h5 Comments:
                        each comment in comments
                            div(class='comment-container')
                                div(class=`comment-details`)
                                    h4(class='comment-text')= comment.body
                                        p(class='author') - #{comment.User.username}
                                    br
                                    if locals.user.id === comment.userId
                                        button(type='submit' id=`delete-${comment.id}` class=`delete-button` href=`/comment/${comment.id}`) Delete
                                        a(type='submit' class=`btn` href=`/comments/${comment.id}/edit`) Edit
                script(src='/javascripts/comments.js')
            div(class='right-container')
                div(class='right-content-container')
