extends home.pug

append head

    link(rel="stylesheet" href="/stylesheets/answer-form.css")


include utils.pug

block content
    div(class='main-container')
      div(class='left-container')
      div(class='middle-container')
        div(class='content-container')
          form(action=`/question/${question.id}/add` method='post')
              input(type='hidden' name='_csrf' value=csrfToken)
              h2(id='header') #{question.title}
              +validationErrorSummary(errors)
              h3 Answer:
              +field( null, 'body', question.body, 'textarea')
              div(class='answer-cancel-btn')
                div(class='button-div')
                  button(type='submit' id='answer' href=`/question/${question.id}/add`) Answer
                div(class='anchor-div')
                  a(id='cancel' href=`/question/${question.id}`) Cancel
      div(class='right-container')
