extends home.pug

append head
  link(rel="stylesheet" href="/stylesheets/question-detail.css")


block content
  div(class="main-container")
    div(class="left-container")
    div(class="middle-container")
      div(class="content-container")
        if question
          div(class='q-text')
          h4(id='question-id') Question:
          h3(id='question-header')= question.title
          div(class='author-div')
            h4(id='question-author')= question.User.username
            if locals.user.id !== question.userId
              a(class='answer-button' href=`/question/${question.id}/add` role='button') Answer
          br
          if locals.user.id === question.userId
            div(class='py-3')
              a(class='btn btn-success' href=`/questions/${question.id}/edit` role='button') Edit Question
          if answers
            div(class='answerDiv')
              div(class='answer-line')
              h4(id='answer-id') Answers:
            each answer in answers
                h4(class='answer-author')=answer.User.username
                h3(id='answer-text')= answer.body
                    div(class='button-div')
                      div(class='commentDiv')
                        a(id='adds-comment' href=`/answer/${answer.id}/add` role='button') Comment
                      div(class='edit-answer-div')
                        if locals.user.id === answer.userId
                          a(id='edit-answer' href=`/answer/${answer.id}/edit` role='button') Edit Answer
                    each comment in comments
                      if comment.answersId === answer.id
                        div(class='comment-section')
                            h4(class='comment-author')=comment.User.username
                            h4(id='comment-id')= comment.body
                            if locals.user.id === comment.userId
                              div(class='edit-delete-comment-div')
                                button(type='submit' id=`delete-${comment.id}` class=`delete-button` href=`/comment/${comment.id}`) Delete
                                a(type='submit' class=`edit-comment-btn` href=`/comments/${comment.id}/edit`) Edit
                    div(id='line')
                      div(class='seperate-answer-line')
      script(src='/javascripts/comments.js')
    div(class="right-container")
