extends home.pug

append head
  link(rel="stylesheet" href="/stylesheets/question-list.css")

block content

  div(class="container")
    div(class="left-container")
      div(class='topic-container')
        table(class='topic-table')
          thead(class='thead-dark')
            tr
              th(scope='col' class="topic-th") TOPICS
          tbody(class="topic-row")
            each topic in topics
              tr(class="topic-row")
                td= ''
                      a(type='submit' class='topic-link' role='button' href=`/topic/${topic.id}/questions`)= topic.name
    div(class="middle-container")
      div(class='post-question')
        a(class='btn btn-ask-quest' href='/question/add' role='button') What is your question?
          img(src=`./stylesheets/img/Ferrari.png`, alt="This car image" id="user-img")
      table(class='table table-striped table-hover')
        thead(class='thead-dark')
          tr
            th(scope='col') Questions
        tbody(class="quesions-row")
          each question in questions
            tr
              td= ''
                  each user in users
                    if question.userId === user.id
                      div(class="username-quest")
                        img(src="./stylesheets/img/flat-tire2.png", alt="This car image")
                        h3 #{user.username}
                      div(class='py-3')
                        a(class='btn display-question' href=`/question/${question.id}` role='button')  #{question.title}
                        if locals.user.id === question.userId
                          button(type='submit' id=`delete-${question.id}` class=`delete-button` href=`/question/${question.id}`) Delete Question
                  each answer in answers
                    if answer.questionId === question.id
                      div(class='py-3')
                        a(class='btn display-answer' href=`/question/${answer.questionId}` role='button') #{answer.body}
                      if locals.user.id !== answer.userId
                        div(class="display-answer")
                          a(class='btn btn-success' href=`/question/${answer.questionId}/add` role='button') Answer Question
            tr( class="spacer")
    div(class="right-container")
    footer
    script(src='/javascripts/question-delete.js')
