extends home.pug

append head
  link(rel="stylesheet" href="/stylesheets/question-list.css")

block content

  div(class="container")
    div(class="left-container")
      div(class='topic-container')
        table(class='topic-table')
          thead(class='thead-dark')
            tr
              th(scope='col' class="topic-th") TOPICS
          tbody(class="topic-row")    
            each topic in topics
              tr(class="topic-row")
                td= ''
                      a(type='submit' class='topic-link' role='button' href=`/topic/${topic.id}/questions`)= topic.name
    div(class="middle-container")
      div(class='post-question')
        a(class='btn btn-ask-quest' href='/question/add' role='button') What is your question?
      table(class='table table-striped table-hover')
        thead(class='thead-dark')
          tr
            th(scope='col') Questions
        tbody(class="quesions-row")
          each answer in answers
            tr
              td= ''
                each user in users 
                  if answer.Question.userId === user.id
                    img(src="./stylesheets/car.png", alt="This car image")
                    h3 #{user.username}
                    div(class='py-3')
                      a(class='btn display-question' href=`/question/${answer.questionId}` role='button')  #{answer.Question.title}
                    div(class='py-3')
                      a(class='btn display-answer' href=`/answer/${answer.id}` role='button') #{answer.body}
                    br
                    if locals.user.id === answer.userId
                      div(class="display-answer")
                        button(type='submit' id=`delete-${answer.questionId}` class=`delete-button` href=`/question/${answer.questionId}`) Delete
                        a(class='btn btn-success' href=`/question/${answer.questionId}/add` role='button') Answer
            tr( class="spacer")
    div(class="right-container")
    footer
    script(src='/javascripts/question-delete.js')

